/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";

 .w-120px {
  width: 120px !important;
}

.w-160px {
  width: 160px !important;
}

.admin-title {
  margin-bottom: 40px;
  background-color: #e6c5b8;
}

.admin-title-b {
  background-color: #e6c5b8;
}

.admin-title-c {

}

.public-title {
margin-bottom: 40px;
background-color: #e6e6b8;
}


.table-color {
  background-color: #e6c5b8;
}

.table-color-b {
  background-color: #e6e6b8;
}

.ml-90px {
  margin-left: 90px;
}

.ml-220px {
  margin-left: 220px;
}

.ml-210px {
  margin-left: 210px;
}

.main-visual {
  display: flex;
  width: 640px;
  height: 350px;
  background-image: url(22766243_s.jpg);
}

.main-visual p {
  background-color: rgba(255, 255, 255, 0.5);
  width: 500px;
  height: 120px;
}

.px-x {
  padding-left: 130px;
  padding-top: 100px;
  font-size: 20px;
}

.about-visual {
  background-image: url(23573636_s.jpg);
  width: 640px;
  height: 380px;
}

.p-about {
  font-size: 25px;
}

.table-b-c {
  border: solid 2px green !important;
}

.p-comfirm {
  font-size: 20px;
}